<%- include('./partials/header');-%>
<%- include('./partials/flash');-%>
<p>Home</p>
<style>
body {
div {
  opacity: 0.5;
}
  background-image: url('back.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

<%- include('./partials/footer');-%>
